.box { 
    padding: 24px;
    background: #f8f8f8; 
}

footer {
    border-top: 1px solid #eee;
    padding: 0 25px; 
    margin-top: 100px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0
}

body {
        min-height: 100%;
        position: relative;
        padding-bottom: 90px;
      }

.texto {
        font-size: 12px;
}